.padding
  .row
    .col-md-6
      = simple_form_for @client do |f|
        = f.input :first_name, label: "Imię", error: "Wprowadź poprawne imię"
        = f.input :last_name, label: "Nazwisko", error: "Wprowadź poprawne nazwisko"
        = f.input :phone_number, label: "Numer telefonu", error: "Niepoprawny format numeru telefonu"
        = f.input :email, label: "Adres email (opcjonalnie)", error: "Niepoprawny format adresu email"
        = f.submit "Zapisz", class: "btn btn-primary"
