%div{class: "left-margin"}
  %h1{:style => "margin-left: 5%;"}= "Pokój nr #{@room.room_number} piętro #{@room.floor}"

  %dl.dl-horizontal
    %dt.strong Numer:
    %dd= @room.room_number
    
    %dt.strong Piętro:
    %dd= @room.floor

    %dt.strong Ilość łóżek:
    %dd= @room.quantity_of_beds

    %dt.strong Standard:
    %dd= @room.standard_i18n

    %dt.strong Cena:
    %dd= "#{@room.price} złotych"
